<a href="https://colab.research.google.com/github/Shubam2006/calculator/blob/main/Yet_another_copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

first print hello world

In [ ]:
print("hello world")

hello world

In [ ]:
print(50+10)

60

In [ ]:
a=10
b=14
a_b=199
print(a)
print(a, b)
print(a_b)
print("a_b")
print(id(a))

10
10 14
199
a_b
11654664

In [ ]:
arthmetic

In [ ]:
a=122
b=14
print(a+b)
print(a-b)
print(a/b)
print(a//b) #double divide give only floor value
print(a*b)
print(11%2) #remainder
print(5**2) #5*5
print(5**3) #5*5*5

136
108
8.714285714285714
8
1708
1
25
125

check true or false

In [ ]:
print(10<5)
print(12>8)

False
True

assigment operator

In [ ]:
x = 5
print(x)

x=x+5 #x +=5 means , x=x=5
print(x)

x+=5
print(x)

x=x-5
print(x)

x-=5
print(x)

5
10
15
10
5

comparison operators

In [ ]:
x=10
y=20
print(x==y) #== equal
print(x!=y) #!= not equal
print(x>y) #> greater than
print(x<y) #< less than
print(x>=y) #>= greater than or equal to
print(x<=y) #<=  less than or equal to

False
True
False
True
False
True

logical opertors

In [ ]:
a=10
b=20

print(x==10 and x<y and x==y) #and = returns true if both statements are true
print(x!=10 or x<y or x==y) #or = returns true if one of the statements is true
print(not x!=10) #not =reverse the result, returns false if the result is true

False
True
True

MEMBERSHIP OPERATOR

In [ ]:
#in = returns true if a sequence with the specified value is present in the object example x in y
#not in = returns true if a sequence with the specified value is not present in the object example x not in y

string1="Hello guy kaise ho aap"
print('h' in string1)
print('H' in string1)

l=[10,20,30,40]
print(10 in l)
print(50 in l)
print(50 not in l)

True
True
True
False
True

IDENTITY OPERATORS

In [ ]:
#is = returns true if a sequence with the specified value is present in the object. example x is y
#is not = returns true if a sequence with the specified value is not present in the object. example x is not y

x=10
y=10
print(x is y,x==y)
print(x is not y,x!=y)

True True
False False

BITIWISE OPERATORS

In [ ]:
#& = AND , X & Y
#| = OR , X|Y
#^ = XOR , X^Y
# 1 = TRUE, 0 = FALSE

# A     B     A & B      A|B    A^B
# 0     0      0          0      0
# 0     1      0          1      1
# 1     0      0          1      1
# 1     1      1          1      0

x=10
y=8
print(bin(x))
print(bin(y))
print(x&y, bin(x&y))
print(bin(x&y),x&y)

print(bin(x|y),x|y)

print(bin(x^y),x^y)

0b1010
0b1000
8 0b1000
0b1000 8
0b1010 10
0b10 2

DATA TYPES

In [ ]:
#DATA TYPES MEANS = data types batata hai ki variable me kaunsa type ka data store hoga jaise: number, decimal, character, ya word
# x=10 #int
# y=3.5 #float
# z="hii" #string

##TYPES##
# mutable object can change its state or contents and immutable objects cannot
# mutable data types: -list, -dictionary, -byte array
# immutable data types: -int, -float, -complex, -string, -tuple, -set

In [ ]:
# NUMBER #
# -integers
# -float
# -COMPLEX NUMBER
a=5
print(type(a))     #<class 'int'>
print(a, "is of type", type(a))   #5 is of type <class 'int'>

b=5.5
print(type(b))     #<class 'float'>
print(b, "is of type", type(b))     #5.5 is of type <class 'float'


c=5+6j
print(type(c))        #<class 'complex'>

<class 'int'>
5 is of type <class 'int'>
<class 'float'>
5.5 is of type <class 'float'>
<class 'complex'>

STRING

- A STRING IS A COLLECTION OF ONE OR MORE CHARACTERS PUT IN A SINGLE QUOTE, DOUBLE- QUOTE OR TRIPLE QUOTE.
- MULTI-LINE STRINGS CAN BE DENOTED USING TRIPLE QUOTES, ''' OR """

In [ ]:
#s = "this is a string"
#print(s)
#s = '''A multiline string'''
#print(s)

s = "Shubham@123"
print(s,type(s))


s='''
     hello shubham
     welcome to my mini vlogs
'''
print(s)


s='10'
print(s,type(s))

Shubham@123 <class 'str'>

     hello shubham
     welcome to my mini vlogs

10 <class 'str'>

LIST

-LIST IS AN ORDERED SEQUENCE OF ITEMS.

-IT IS ONE OF THE MOST USED DATATYPE INPYTHON IN PYTHON AND IS VERY FLEXIBLE.
-[]
-a = [1,2.2 'ws']

In [ ]:
l =[10, 'ws',5.5]
l[2]=10 #prove mutuable data
print(l,type(l))

[10, 'ws', 10] <class 'list'>

DATA TYPES IN  PYTHONS
   
   -NUMERIC

   INTEGERS

   FLOAT

   COMPLEX NUMBERS

   -SEQUENCE TYPE
   
   STRING
   
   LIST
   
   TUPLE
   
   -DICTIONARY
   
   -SET

TUPLE

-TPLES IS AN ORDERED SEQUENCE OF ITEMS SAME AS A LIST. (immutable)

-IT IS DEFINED WITHIN PARENTHESESS()WHERE ITEMS ARE SEPARATED BY COMMAS.

   t=(5,'program',1+3j)

In [ ]:
t = (10, 10, 'shubham')
# t[1]=30 not update in tuple
print(t,type(t))
#t=(10)
#print(t,type(t))  #output= 10,<clas 'int'>

(10, 10, 'shubham') <class 'tuple'>

DICTIONARY

-dictionary is an ordered collection of key-value pairs.

-in python, dictionaries are defined within braces{} with each item being a pair in the form key:value

    d = {1,'value','key':2}
    print(type(d))
    <class'dict'>

In [ ]:
d={
    'name':'shubham',
    'age':22,
    'gender':'male'
}
print(d['name'])
print(d,type(d))

shubham
{'name': 'shubham', 'age': 22, 'gender': 'male'} <class 'dict'>

SET